<table>
    <tr>
        <td>Action</td>
        <td>Id</td>
        <td>Name</td>
        <td>Age</td>
    </tr>

    {{#data}}
    <tr>
        <td>
            <a href='update/{{id}}'><img src="img/Edite.png" width="25"></a>
            <a href='delete/{{id}}' class="delete"><img src='img/Trash.png' width="25"></a>
        </td>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{age}}</td>
    </tr>
    {{/data}}
</table>